/* Projects.css */



.projects {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 0; /* Remove left margin */
  margin-bottom: 20px;
}

/* Projects.css */

.projectItem > div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); /* Add shadow */
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
}

.projectItem:hover > div {
  transform: scale(1.05); /* Enlarge the image on hover */
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5); /* Add more prominent shadow on hover */
}

.projectTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: cursive;
  font-size: 2.5rem; /* Adjust font size */
  margin-bottom: 20px;
  background-color: #1d3461;
  padding: 10px 20px;
  border-radius: 10px;
  color: #ffffff;
}

.projectList {
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  justify-items: center;
}

.projectItem {
  border-radius: 15px;
  width: 100%;
  max-width: 300px;
  height: auto;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.projectItem:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
}

.projectItem > div {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.projectItem h1,
.projectItem p {
  margin: 0;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 0 0 15px 15px;
  color: #89023e;
}

/* Style anchor tags to have no underline */
.projectList a {
  text-decoration: none;
}

/* Media query for mobile responsiveness */
@media only screen and (max-width: 600px) {
  .projectTitle {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }
}
