/* General styles */
.about-container {
  min-height: calc(100vh - 40px); /* Adjust as per navbar and footer height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-content {
  max-width: 90%; /* Adjusted width for smaller screens */
  padding: 20px;
  text-align: center;
  color: white;
}

.about-content h2 {
  display: inline-block;
  width: 200px;
 font-size: 2em; /* Adjusted font size for smaller screens */
 margin-bottom: 20px;
}

.about-text {
  margin-top: 20px;
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 1.2em; /* Adjusted font size for smaller screens */
}

/* Profile image styles */
.profile-image {
  display: flex;
  position: relative;
  top: 2px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px; /* Add margin to the right to separate from text */
  object-fit: cover; /* Ensure the image fills the container */
}

/* Hover effect for the image */
.profile-image:hover {
  transform: scale(1.1); /* Scale the image on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .about-content {
    padding: 10px;
  }

  .profile-image {
    width: 100%; /* Make the image responsive by setting width to 100% */
    max-width: 150px; /* Set maximum width for better appearance on small screens */
    height: auto; /* Automatically adjust height based on width */
    margin: 0 auto 20px; /* Center the image and add bottom margin */
  }
}
