/*.about { 
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  
}

.aboutTop {
  width: 100%;
  height: 45%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom p {
  width: 1200px;
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
}*/

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width:100%;
}


.about-content {
  max-width: 800px;
  padding: 20px;
  text-align: center;
}

.about-content h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about-text {
  margin-top: 20px;
  text-align: left;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

/* Image styles */
.profile-image {
  display: flex;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-right: 20px;
  top: 20px;
  float: left;
  border: 3px solid #fff; /* White border around the image */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
}

/* Hover effect for the image */
.profile-image:hover {
  transform: scale(1.1); /* Scale the image on hover */
  transition: transform 0.3s ease; /* Smooth transition */
}

.about-text p {
  margin-bottom: 15px;
  line-height: 1.5;
   
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .about-content {
    padding: 10px;
  }

  .about-text {
    text-align: center;
  }

  .profile-image {
    float: none;
    margin: 0 auto 20px;
  }
}
