/* Media Query for smaller screens */
@media (max-width: 768px) {
  .contact {
    padding: 10px; /* Adjust padding for the contact container */
    max-width: 90%; /* Adjust max-width for better fit on smaller screens */
  }
div > .contact-me {
  color: white;
}
  .topSide {
    padding: 10px;
  }

  h1 {
    font-size: 1.2rem;
    margin-bottom: 10px; /* Adjust margin to prevent overlap */
    
  }

  input,
  textarea,
  button {
    width: 100%; /* Make input fields and button full width */
    margin-bottom: 10px; /* Add margin bottom to separate elements */
  }
}
