/* Footer.css */

.footer {
  background-color: #001f54;
  padding: 20px 10px; /* Increase padding for better spacing */
  text-align: center;
  color: aqua;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.socialMedia {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: aqua;
}

.footer p {
  margin: 0;
  color: aqua;
}

a {
  display: flex;
  justify-content: space-evenly;
  color: aqua;
}

/* Mobile responsive styles */
@media only screen and (max-width: 600px) {
  .footer {
    padding: 15px 10px; /* Adjust padding for smaller screens */
  }
  
  .footer p {
    font-size: 0.8rem; /* Adjust font size for smaller screens */
  }
  
  .socialMedia {
    margin-bottom: 10px; /* Adjust margin for smaller screens */
  }
}
